extends ./layouts/index

block content
    .container
        h1 Корзина
        if (courses.length)
            #card
                table
                    thead
                        tr
                            th Название
                            th Количество
                            th Действия
                    tbody
                        each course in courses
                            tr
                                td #{course.title}
                                td #{course.count}
                                td
                                    .btn.btn-primary.js-remove(data-id=course.id data-csrf=csrf) Удалить
                br
                p
                    span
                        | Сумма:&nbsp;
                        strong.price #{totalPrice}
        else
            p В корзине пока пусто

        form(action="/orders/make" method="POST").mt-6
            input(type="hidden" name="_csrf" value=csrf)
            button.btn.btn-primary(type="submit") Сделать заказ
