<h3>Курсы</h3>

{{#if courses.length}}
    <div class="row">
    {{#each courses}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{img}}" alt="">
                </div>
                <div class="card-content">
                    <p class="card-title">{{title}}</p>
                    <p class="price">{{price}}</p>
                </div>
                <div class="card-action">
                    <a href="/courses/{{id}}">Открыть курс</a>
                    <a href="/courses/{{id}}/edit/?allow=true">Редактировать</a>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
{{else}}
    <p>Курсов еще нет</p>
{{/if}}
