extends ../layouts/index

block content
    .container
        .row
            .col.s12
                h3.mb-8 Редактировать курс

                if (error)
                    .card-panel.red.white-text.mb-7 #{error}

                form(action='/courses/edit', method='post' novalidate)

                    .input-field
                        input#first_name.validate(required='', name='title', type='text', value=course.title)
                        label(for='first_name') Название курса
                        span.helper-text(data-error='Введите название курса')

                    .input-field
                        input#price.validate(required='', name='price', type='text', value=course.price)
                        label(for='price') Цена курса
                        span.helper-text(data-error='Введите цену курса')

                    .input-field
                        input#image.validate(required='', name='img', type='text', value=course.img)
                        label(for='image') URL картинки
                        span.helper-text(data-error='Введите URL картинки')

                    input(type="hidden" name="_csrf" value=csrf)
                    input(type='hidden', name='id', value=course.id)
                    button.btn.btn-primary(type='submit') Редактировать

        .row
            .col.s12
                form(action="/courses/remove" method="POST")
                    input(type="hidden" name="_csrf" value=csrf)
                    input(type='hidden', name='id', value=course.id)
                    button.btn.red(type='submit') Удалить курс
